/*
font-family: 'Kanit', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Palette Mosaic', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Shadows Into Light', cursive;
*/

.boton-clear {
  height: 80px;
  font-size: 1.6em;
  display: flex;
  flex: 1;
  background-color: rgb(64, 182, 127);
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  color: blanchedalmond;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 20px;
  user-select: none;
}

.boton-clear:hover {
  background-color: rgb(15, 104, 62);
}